* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  background-color: #ffffff;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

li {
  font-size: 16px;
  line-height: 26px;
  list-style-position: inside;
}

footer {
  font-size: 12px;
}
