* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  max-width: 1000px;
  margin: 35px auto 0px;
  padding: 0 24px 40px;
  border-radius: 10px;
  background-color: #ffffff;
}

body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding: 70px 0 20px;
}

img {
  border-radius: 10px;
  width: 100%;
}

figcaption {
  text-align: right;
  color: #39393a;
  font-size: 12px;
}

#ingredients {
  font-size: 30px;
  text-align: center;
  padding: 50px 0 20px;
}
ul {
  font-size: 18px;
  line-height: 2.6;
  list-style-position: inside;
}

#preparation {
  font-size: 30px;
  text-align: center;
  padding: 50px 0 20px;
}
ol {
  font-size: 18px;
  line-height: 2.6;
  list-style-position: inside;
}

#info {
  font-size: 30px;
  text-align: center;
  padding: 50px 0 20px;
}

footer {
  font-size: 13px;
  text-align: center;
  padding: 50px 0 20px;
  line-height: 2.6;
}
